@tailwind components; /* Include component styles */
@tailwind utilities; /* Include utility classes */

html {
  font-family: "inter";
}

/* code {
  font-family: "GeistMono";
} */

img {
  float: center;
  margin-top: 0.5em;
  margin-right: 2em;
  margin-bottom: 2em;
  height: 12em;
  width: auto;
}
