/controller/**/*.js
/dataplane/target
/messages/target
/controller/target
/controller/node_modules
.vscode
test.txt
bigfile.zip
.DS_Store
lightning_logs/
**/*.der
**/Cargo.lock
/target
**/.venv
**/uv.lock
**/__pycache__
**/server_cert.pem
**/server_key.pem
**/loopback-ebpf/target
