[topology]
n_nodes = {{ n_nodes }}
edges = [
{% for edge in topology_edges -%}
  [{{ edge[0] }}, {{ edge[1] }}],
{% endfor -%}
]

[routing]
protocol = "shortest_path"

[db]
user = "pgusr"
password = "pgpwrd"
host = "postgres"
database = "nextmini"
port = "5432"
