controller_addr = "ws://{{ hostvars[groups['controller'][0]].ansible_host | default(groups['controller'][0]) }}:{{ controller_container_port }}"
public_network_addr = "{{ hostvars[inventory_hostname].ansible_host | default(inventory_hostname) }}"
node_id = {{ hostvars[inventory_hostname].node_id }}
channel_backpressure = true

[lossless_runtime_config]
default_block_size = {{ block_size }}
fec_enabled = {{ "true" if mode == "fec" else "false" }}
fec_default_tree_ids = [{{ tree_ids | join(", ") }}]
fec_default_symbols_per_block = {{ symbols_per_block }}
